.container{
    background-color: #808080;
    width: 300px;
    height: auto;
}
h1{
    color: white;
}

 div{
    width: 150px;
    height: 150px;
    background-color: #fea500;
    margin-bottom: 10px;
    padding-left: 20px;
 }